*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(img/bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    height: 150vh;
    background-size: cover;
}

.box{
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    background-color: #616261b0;
    border-radius: 50px;
    color: #ffff;
}

.box-info{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 50px 20px;
    width: 50%;
    text-align: center;
}

.title{
    margin-bottom: 30px;
    font-size: 50px;
}

.info-bottom i {
    font-size: 40px;
    padding: 60px;
    cursor: pointer;
    border-bottom: 24px solid transparent;
    border-radius: 50%;
    transition: 0.05s all ease;
}

.info-bottom i:hover{
    transform: translateY(-10px);
    border-bottom: 2px solid rgb(7, 8, 100);
}

.box-image{
    width: 50%;
    padding: 50px 30px;
}

.box-image img{
    width: 400px;
    height: 400px;
    object-fit: cover;
    border-radius: 50%;
}

.img-title{
    font-size: 21px;
    display: block;
    margin-top: 30px;
    text-align: center;
    font-style: italic;
}